
.app{
    width: 800px;
    margin: 0 auto;
}
.navList{
    height: 50px;
    background-color: darkgrey;
    display: flex;
    justify-content: flex-end;
}
.navList>li{
    list-style: none;
    width: 180px;
    line-height: 50px;
}
.navList>li>a{
    text-decoration: none;
    color: black;
}